<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}"> <!-- Link to custom CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <header>

    
    <h1>{{ site.title }}</h1>
    
    
  </header>

  <main>
  {{ content }} <!-- This is where page content will go -->
  <hr class="divider">
  <!-- Disqus comment section -->
  <div id="disqus_thread"></div>
  <script>
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://beyond-2.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
  </script>
  </main>

  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
    <p>Maintained by {{ site.github.username }}</p>
  </footer>
</body>

</html>
